{% extends 'TUTRReg/base.html' %}
{% block content %}
    <h2>Add Attendees to {{ session.class_id.class_name }}</h2>
    <div class="section">
        <form action="{% url 'TUTRReg:add_person' session_id=session_id %}" method="get">
            {% csrf_token %}
            <label for="person_search">Name Search:</label>
            <input id="person_search" type="text" name="person_search">
            <input type="submit", value="Search">
        </form>
    </div>
    <div class="section">
    <form action="{% url 'TUTRReg:create_person' %}" method="post">
        <button type="submit" class="save btn btn-default">Create Person</button>
    </form>
    <table id="details_table">
    <thead>
    <th>
        <tr>
            <th>SCA Name</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
    </th>
    </thead>
    <tbody>
    {% for object in object_list %}
        <tr>
        <td>{{ object.sca_name }}</td>
        <td>{{ object.first_name }}</td>
        <td>{{ object.last_name }}</td>
        <td>
            <form action="{% url 'TUTRReg:register_person' session_id=session_id person_id=object.pk %}" method="post">
                {% csrf_token %}
                <button type="submit" class="save btn btn-default">Add Person</button>
            </form>
        </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    </div>
    {% if is_paginated %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
              <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
            {% else %}
              <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in paginator.page_range %}
              {% if page_obj.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
              {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
              <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
            {% else %}
              <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock%}