{% extends 'TUTRReg/base.html' %}
{% load tutr_extras %}
{% load crispy_forms_tags %}
{% block content %}
    <h2>Add Classes to {{ event.event_name }} in {{ event.branch_id }}</h2>
    <div class="section">
        <form action="{% url 'TUTRReg:add_classes' event_id=event_id %}" method="get">
            {% csrf_token %}
            <label for="class_search">Class Name:</label>
            <input id="class_search" type="text" name="class_search">
            <input type="submit", value="Search">
        </form>
    </div>
    <div class="section">
    {% if user.is_authenticated and user|has_group:'Registrar, Governer, Dean' %}
    <form action="{% url 'TUTRReg:new_class' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="save btn btn-default">Create Class</button>
    </form>
    {% endif %}
    <table id="details_table">
    <thead>
    <th>
        <tr>
            <th>Class Name</th>
            <th>Description</th>
            <th>Teacher</th>
        </tr>
    </th>
    </thead>
    <tbody>
    {% for object in object_list %}
        <tr>
        <td>{{ object.class_name }}</td>
        <td>{{ object.description }}</td>
        <td>{{ object.teacher }}</td>
        <td>
            <form action="{% url 'TUTRReg:add_class_event' event_id=event_id class_id=object.pk %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Add Class">
            </form>
        </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    </div>
    {% if is_paginated %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
              <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
            {% else %}
              <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in paginator.page_range %}
              {% if page_obj.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
              {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
              <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
            {% else %}
              <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock%}