{% extends 'TUTRReg/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="section">
    <form method="post">
        {% if students %}
            {% csrf_token %}
            {{ students.management_form|crispy }}
            {% crispy form %}
        {% endif %}
    </form>
    </div>
    <div class="section">
        <form action="{% url 'TUTRReg:add_person' session_id=session_id %}" method="get">
            <button type="submit" class="save btn btn-default">Add Person</button>
        </form>

    </div>
{% endblock%}