{% load tutr_extras %}
<html>
{% load static %}
<head>
    <title>{% block title %} The University of Tir Righ {% endblock %} </title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'TUTRReg//css/styles.css' %}"/>
</head>
<header>
    <div id="banner">
        <img src="{% static "TUTRReg/img/northernregion.gif" %}" class="tutr_badge" />
        <img src="{% static "TUTRReg/img/tutrlogo.png" %}" class="tutr_logo" />
        <br class="cb" />
    </div>
</header>

<body>
    {% block nav %}
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark" style="background-color: #D3D3D3" id="nav"><!-- menu -->
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="mainMenu">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="/faculty/">Contacts</a>
                        </li>
                        <li class="nav-item">
                            <a href="/degrees/">Degrees</a>
                        </li>
                        <li class="nav-item">
                            <a href="/faq/">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a href="/documents/">Documents</a>
                        </li>
                        <li class="nav-item">
                            <a href="/links/">Links</a>
                        </li>
                        <li class="nav-item">
                            <a href="/sessions/">Sessions</a>
                        </li>
                    </ul>

                    {% if user.is_authenticated %}
                        <ul class="navbar-nav ml-auto">
                            {% if user|has_group:'student' %}
                                <li><a href="/landing/">Student Page</a></li>
                            {% elif user|has_group:'teacher' %}
                                <li><a href="/landing/">Teacher Page</a></li>
                            {% elif user|has_group:'dean' %}
                                <li><a href="/landing/">Dean Page</a></li>
                            {% elif user|has_group:'registrar' %}
                                <li><a href="/landing/">Registrar Page</a></li>
                            {% elif user|has_group:'head_registrar' %}
                                <li><a href="/landing/">Reg. Head Page</a></li>
                            {% elif user|has_group:'governor' %}
                                <li><a href="/landing/">Governor Page</a></li>
                            {% elif user|has_group:'event_steward' %}
                                <li><a href="/landing/">Event Steward Page</a></li>
                            {% else %}
                                <li><a href="/landing/">Unknown Page</a></li>
                            {% endif %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ user.username }}
                                </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                                <a class="dropdown-item" href="#">My Account</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href={% url 'logout' %}>Log out</a>
                            </div>
                            </li>
                        </ul>
                        {% else %}
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a href="/accounts/login/">Login</a>
                                 </li>
                            </ul>
                    </div>
                </ul>

            {% endif %}
            </div>
            </ul>
        </div>
    </nav>
    {% endblock %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-10">
                <div id="main">
                    <div>
                        {% block content %}
                        {% endblock %}
                    </div>
                    <div class="tutr-footer">
                        This is the unofficial web site for the University of <a href="http://tirrigh.org/">Tir Righ</a>, of the <a href="http://sca.org">Society for Creative Anachronism, Inc.</a> and is maintained by the Governor. It is not a corporate publication of the Society for Creative Anachronism, Inc. and does not delineate SCA policies.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'TUTRReg/js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'TUTRReg/js/popper.min.js' %}"></script>
    <script src="{% static 'TUTRReg/js/bootstrap.min.js' %}"></script>
</body>
</html>