{% extends 'TUTRReg/base.html' %}
{% load tutr_extras %}
{% block content %}
{% if EventClassDetails %}
    <div id="details_page">
        <h2>{{ EventClassDetails.class_name }}</h2>
        <h3>{{ EventClassDetails.teacher }}</h3>
        <div>
            <p>Description: {{ EventClassDetails.description }}</p>
            <p>Prerequisites: {{ EventClassDetails.pre_reqs }}</p>
            <p>Student Requirements: {{ EventClassDetails.student_reqs }}</p>
            <p>Cost: {{ EventClassDetails.cost }}</p>
        </div>
        {% if user.is_authenticated and user|has_group:'Registrar, Governer, Dean, Session Steward' %}
        <div>
            <form action="{% url 'TUTRReg:attendance' pk=session_id%}" method="get">
                <button type="submit" class="save btn btn-default">View Roster</button>
            </form>
        </div>
        {% endif %}
    </div>

{% endif %}
{% endblock %}