{% extends 'TUTRReg/base.html' %}
{% load tutr_extras %}
{% block content %}
    {% if EventDetailList %}
        <div id="details_table">
            <h2>Event Details</h2>
            <table>
                <thead>
                    <tr>
                        <th>Event Name</th>
                        <th>TUTR Surcharge</th>
                        <th>Start Date</th>
                        <th>End Date</th>

                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ EventDetailList.event_name }}</td>
                    <td>{{ EventDetailList.tutr_surcharge }}</td>
                    <td>{{ EventDetailList.start_date }}</td>
                    <td>{{ EventDetailList.end_date }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="details_table">
            <h2>Class List</h2>
            <table>
                <thead>
                    <tr>
                    <th>Class Name</th>
                    <th>Teacher</th>
                    <th>Class Description</th>
                    <th>Student Requirements</th>
                    <th>Class Prerequisites</th>
                    <th>Class Cost</th>
                    </tr>
                </thead>
                <tbody>
                {% if session %}
                {% for class in session%}
                    <tr>
                        <td><a href="{% url 'TUTRReg:event_class_detail' session_id=class.pk pk=class.class_id.pk%}">{{ class.class_id.class_name }}</a></td>
                        <td>{{ class.class_id.teacher }}</td>
                        <td>{{ class.class_id.description }}</td>
                        <td>{{ class.class_id.student_reqs }}</td>
                        <td>{{ class.class_id.pre_reqs }}</td>
                        <td>{{ class.class_id.cost }}</td>
                        {% if open and user.is_authenticated %}
                        {% endif %}
                        {% if user.is_authenticated and user|has_group:'Registrar, Governer, Dean, Head Registrar' %}
                            <td>
                            <form action="{% url 'TUTRReg:remove_class' event_id=object.pk session_id=class.pk %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="save btn btn-default">Remove Class</button>
                            </form>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                {% endif %}
                </tbody>
            </table>
            {% if user.is_authenticated and user|has_group:'Registrar, Governer, Dean, Head Registrar' %}
                <form action="{% url 'TUTRReg:edit_event' pk=object.pk %}" method="get">
                    {% csrf_token %}
                    <button type="submit" class="save btn btn-default">Edit Event</button>
                </form>
                 <form action="{% url 'TUTRReg:add_classes' event_id=object.pk %}" method='get'>
                     {% csrf_token %}
                    <button type="submit" class="save btn btn-default">Add Classes</button>
                </form>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}