{% extends 'TUTRReg/base.html' %}
{% block content %}
        <h2>Links to other SCA Institutions of Learning</h2>
        <div class="section_last">
        {% block institutions %}
            <h3>University of Ithra, Kingdom of An Tir</h3>
            <blockquote>
                <p>
                    <a href="http://ithra.antir.sca.org/" target="_blank">The University of Ithra</a> is the Kingdom of An Tir's university. Ithra degrees are Lector Artis (&ldquo;Reader in Arts&rdquo;) and Lector Scientae   (&ldquo;Reader in Sciences&rdquo;).&nbsp;
                </p>
                <p>
                    Some credits from University of Ithra courses are transferrable to your degree with The University of Tir Righ. See TUTR <a href="faq.htm">Freqently Asked Questions</a> for more details on transfer credits.
                </p>
            </blockquote>

            <h3>THUA (Their Highness' University of Avacal)</h3>
            <blockquote>
                <p>
                    <a href="http://www.avacal.org/tua/SitePages/Home.aspx" target="_blank">Their Highness' University of Avacal</a> and The University of Tir Righ offer a joint session at the Avacal-Tir Righ war each summer.
                </p>
                <p>
                    Some credits from Their Highness' University of Avacal courses are transferrable to your degree with The University of Tir Righ. See TUTR <a href="faq.htm">Freqently Asked Questions</a> for more details on transfer credits.
                </p>
            </blockquote>
        {% endblock %}
        </div>
{% endblock %}