{% extends 'TUTRReg/base.html' %}
{% load tutr_extras %}
{% block content %}
    {% if EventList %}
        <div id="past_event_table">
        <h2 align="center">Recent Events</h2>
        <div class="event_list">
        <table align="center" id="past_events">
        <thead>
        <tr class="even">
            <th>Event Name</th>
            <th>Branch</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Registration Status</th>
        </tr>
        </thead>
        {% for event in past_events %}
            <tr>
            <td><a href="{% url 'TUTRReg:event_detail' event.pk %}">{{ event.event_name }}</a></td>
            <td>{{ event.branch_id }}</td>
            <td>{{ event.start_date }}</td>
            <td>{{ event.end_date }}</td>

            <td>
                Registration is Closed
            </td>
            </tr>
        {% endfor %}
        </table>
        </div>
        </div>
        <div id="future_event_table">

        <h2 align="center">Upcoming Events</h2>
        <div class="event_list">
        {% if future_events %}
        <table align="center" id="future_events">
        <thead>
        <tr class="even">
            <th>Event Name</th>
            <th>Branch</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Registration Status</th>
            <th>TUTR Coordinator</th>
        </tr>
        </thead>
        {% for event in future_events %}
            <tr>
            <td><a href="{% url 'TUTRReg:event_detail' event.pk %}">{{ event.event_name }}</a></td>
            <td>{{ event.branch_id }}</td>
            <td>{{ event.start_date }}</td>
            <td>{{ event.end_date }}</td>

            <td>{% if event.closed %}
                Registration is Closed
                {% else %}
                Open for Registration
                {% endif %}
            </td>
            <td>{{ event.dean }}</td>
            </tr>
        {% endfor %}
        </table>
        {% else %}
            {% if user.is_authenticated %}
            {% if  user|has_group:'Registrar, Governer, Dean, Head Registrar' %}
                <form>
                <button formaction="{% url 'TUTRReg:new_event' %}">Add Event</button>
                </form>
            {% endif %}
            {% else %}
                <p align="center">There are no events coming up</p>
        {% endif %}


        {% endif %}
        </div>
        </div>
    {% else %}
            <p> Huh, that is strange </p>

    {% endif %}
{% endblock %}